[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyter = "*"
ipykernel = "*"
matplotlib = "*"
seaborn = "*"
plotly = "*"

[packages]
src = {editable = true, path = "."}
python-dotenv = "*"
pytest = "*"
scrapy = "*"
nltk = "*"
numpy = "*"
pandas = "*"
scipy = "*"
statsmodels = "*"
featuretools = "*"
scikit-learn = "*"
xgboost = "*"
lightgbm = "*"
catboost = "*"
keras = "*"

[requires]
python_version = "3.8"
