[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyter = "*"
pytest = "*"
matplotlib = "*"
seaborn = "*"
plotly = "*"

[packages]
numpy = "*"
scipy = "*"
pandas = "*"
scikit-learn = "*"
statsmodels = "*"
xgboost = "*"
lightgbm = "*"
catboost = "*"
tensorflow = "*"
keras = "*"
featuretools = "*"
python-dotenv = "*"
scrapy = "*"

[requires]
python_version = "3.8"
